body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.splash-screen {
    text-align: center;
}

.logo {
    width: 150px; /* Adjust size as needed */
    margin-bottom: 20px;
}

.welcome-message {
    font-size: 1.5rem;
    margin: 20px 0;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.creator {
    color: gray;
    font-size: 0.8rem;
    margin-top: 10px;
}
